body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.background-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../images/facility.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.app-container {
    padding: 20px;
    position: relative;
    z-index: 1;
    color: white; /* Adjust text color to be readable over the background */
}
